# pip freeze > requirements.txt (DELETE)
jinja2~=3.1.2
wsgiref
requests~=2.31.0
SQLAlchemy~=2.0.22
base
blinker
certifi
charset-normalizer
click
colorama
Faker~=19.12.0
Flask
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
psycopg2
requests
six
urllib3
Werkzeug

python-dotenv~=1.0.0
passlib~=1.7.4