table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
table,
th,
td {
    border: 1px solid #ccc;
}
th,
td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #F2F2F2;
}
th:hover {
    background-color: #E0E0E0;
}
tr:nth-child(even) {
    background-color: #F2F2F2;
}
tr:nth-child(odd) {
    background-color: #FFFFFF;
}
tr:hover {
    background-color: #D9EDF7;
}
h1 {
    font-size: 24px;
    margin-top: 20px;
}

/* Estilo para el botón EDIT (azul) */
a.edit-button {
    background-color: #007bff; /* Color azul */
    color: #fff; /* Texto blanco */
    padding: 5px 10px; /* Espaciado interior */
    border-radius: 8px;
    text-decoration: none; /* Sin subrayado de texto */
}

/* Estilo para el botón DELETE (rojo) */
a.delete-button {
    background-color: #ff0000; /* Color rojo */
    color: #fff; /* Texto blanco */
    padding: 5px 10px; /* Espaciado interior */
    border-radius: 8px;
    text-decoration: none; /* Sin subrayado de texto */
}

/* Estilo para el botón CREATE (verde) */
a.create-button {
    background-color: #008000; /* Color verde */
    color: #fff; /* Texto blanco */
    padding: 5px 10px; /* Espaciado interior */
    border-radius: 8px;
    text-decoration: none; /* Sin subrayado de texto */
}
