/* publicacion.css */

.publicacion-content {
    display: flex;
    justify-content: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px; /* Adjust margin as needed */
    padding: 20px; /* Adjust padding as needed */
}

.publicacion-content .publicacion-image {
    max-width: 100%;
    height: auto;
}

.publicacion-content .description {
    flex: 1;
    margin-left: 20px; /* Adjust margin as needed */
}

.publicacion-content h1 {
    font-size: 24px;
}

.publicacion-content p {
    font-size: 16px;
}

.comment-list {
    margin-top: 20px; /* Adjust margin as needed */
}

.comment {
    /* Styles for comments */
}