{% extends "base.html" %}

{% block maincontent %}
<div class="login-container">
    <h1>Hola.</h1>
    <h2>Nos alegra volver a verte por aquí</h2>
    <form id="login-form" method="POST">
        <input type="email" name="email" placeholder="Correo Electronico" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Login</button>
    </form>
    <p><a href="/registro.html">Ooooops! He perdido mi contraseña</a></p>
</div>
{% endblock %}