{% extends "base.html" %}

{% block maincontent %}
<div class="login-container">
    <h1>Hola.</h1>
    <h2>Nos alegra volver a verte por aquí</h2>
    <form id="login-form" action="/tu-ruta-de-autenticacion" method="POST">
        <input type="email" id="email" name="Email principal" required>
        <input type="password" id="password" name="Contraseña" required>
        <button type="submit">Login</button>
    </form>
    <p><a href="/registro.html">Ooooops! He perdido mi contraseña</a></p>
</div>
{% endblock %}