<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel de Admin</title>
</head>
<body>
    <link rel="stylesheet" href="/static/crud.css">
    <link rel="shortcut icon" href="/static/img/admin-icon.png" type="image/x-icon">
</head>
<body>
<h1>Usuarios</h1>
<a href="/crear" class="create-button">CREAR USUARIO</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.correo }}</td>
                <td>
                    <a href="/editar_usuario/{{ usuario.id }}" class="edit-button">EDIT</a> |
                    <a href="/eliminar_usuario/{{ usuario.id }}" class="delete-button">DELETE</a> |
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


    <h1>Competiciones</h1>
    <a href="/crear_competicion" class="create-button">CREAR COMPETICION</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Logo (url)</th>
                <th>Temporada Actual</th>
                <th>Youtube</th>
                <th>Web</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for competicion in competiciones %}
                <tr>
                    <td>{{ competicion.id }}</td>
                    <td>{{ competicion.nombre }}</td>
                    <td>{{ competicion.logo }}</td>
                    <td>{{ competicion.temporadaactual }}</td>
                    <td>{{ competicion.youtube }}</td>
                    <td>{{ competicion.web }}</td>
                    <td>
                        <a href="/editar_competicion/{{ competicion.id }}" class="edit-button">EDIT</a> |
                        <a href="/eliminar_competicion/{{ competicion.id }}" class="delete-button">DELETE</a> |
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Equipos</h1>
    <a href="/crear_equipo" class="create-button">CREAR EQUIPO</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Logo (url)</th>
                <th>Id Liga (FK)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for equipo in equipos %}
                <tr>
                    <td>{{ equipo.id }}</td>
                    <td>{{ equipo.nombre }}</td>
                    <td>{{ equipo.ciudad }}</td>
                    <td>{{ equipo.logo }}</td>
                    <td>{{ equipo.id_liga }}</td>
                    <td>
                        <a href="/editar_competicion/{{ equipo.id }}" class="edit-button">EDIT</a> |
                        <a href="/eliminar_competicion/{{ equipo.id }}" class="delete-button">DELETE</a> |
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

    <h1>Partidos</h1>
    <a href="/crear_partido" class="create-button">CREAR PARTIDOS</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Temporada</th>
                <th>Estadio (FK)</th>
                <th>Liga (FK)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            {% for partido in partidos %}
                <tr>
                    <td>{{ partido.id }}</td>
                    <td>{{ partido.nombre }}</td>
                    <td>{{ partido.fecha }}</td>
                    <td>{{ partido.horainicio }}</td>
                    <td>{{ partido.horafin }}</td>
                    <td>{{ partido.temporada }}</td>
                    <td>{{ partido.idestadios }}</td>
                    <td>{{ partido.idliga }}</td>
                    <td>
                        <a href="/editar_partido/{{ partido.id }}" class="edit-button">EDIT</a> |
                        <a href="/eliminar_partido/{{ partido.id }}" class="delete-button">DELETE</a> |
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Publicaciones</h1>
    <a href="/crear_publicacion" class="create-button">CREAR PUBLICACION</a>
    <table>
        <thead>
            <tr>
                <th>Id (PK)</th>
                <th>Img (Ruta)</th>
                <th>Titúlo</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for post in publicaciones %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.img }}</td>
                    <td>{{ post.titulo }}</td>
                    <td>{{ post.descripcion }}</td>
                    <td>
                        <a href="/editar_publicacion/{{ post.id }}" class="edit-button">EDIT</a> |
                        <a href="/eliminar_publicacion/{{ post.id }}" class="delete-button">DELETE</a> |
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Comentarios</h1>
    <a href="/crear_comentario" class="create-button">CREAR COMENTARIO</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Publicacion (FK)</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments_list %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.publicacionid }}</td>
                    <td>{{ comment.descripcion }}</td>
                    <td>
                        <a href="/editar_comentario/{{ comment.id }}" class="edit-button">EDIT</a> |
                        <a href="/eliminar_comentario/{{ comment.id }}" class="delete-button">DELETE</a> |
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>