{% extends "base.html" %}


{% block maincontent %}
<div class="main-publication">
    <div class="img">
        <img src="/static/img/publicaciones/{{ publicaciones[0][0] }}" alt="Imagen publicacion">
    </div>
    <div class="description">
        <h1>{{ publicaciones[0][1] }}</h1>
        <p>{{ publicaciones[0][2] }}</p>
        <button class="like-button" id="like-button-0">Like</button>
        <button class="unlike-button" id="unlike-button-0">Unlike</button>
    </div>
</div>

<div class="publication-list">
    {% for i in publicaciones[1:] %}
    <div class="card">
        <div class="img">
            <img src="/static/img/publicaciones/{{ i[0] }}" alt="Imagen-publicacion">
        </div>
        <div class="description">
            <h2>{{ i[1] }}</h2>
            <p>{{ i[2] }}</p>
            <button class="like-button" id="like-button-{{ loop.index }}">Like</button>
            <button class="unlike-button" id="unlike-button-{{ loop.index }}">Unlike</button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
