{% extends "base.html" %}


{% block maincontent %}
<div class="main-publication">
    <div class="img">
        <img src="/static/img/publicaciones/{{ publicaciones[0][0] }}" alt="Imagen publicacion">
    </div>
    <div class="description">
        <h1>{{ publicaciones[0][1] }}</h1>
        <p>{{ publicaciones[0][2] }}</p>
        <button class="like" id="like-button-0">
            <span class="material-symbols-outlined">thumb_up</span>
        </button>
        <button class="unlike" id="unlike-button-0">
            <span class="material-symbols-outlined">thumb_down</span>
        </button>
        <div class="comments">
            <input type="text" placeholder="Escribe un comentario">
            <button class="comment" >
                <span class="material-symbols-outlined">send</span>
            </button>
        </div>
    </div>
</div>

<div class="publication-list">
    {% for i in publicaciones[1:] %}
    <div class="card">
        <div class="img">
            <img src="/static/img/publicaciones/{{ i[0] }}" alt="Imagen-publicacion">
        </div>
        <div class="description">
            <h2>{{ i[1] }}</h2>
            <p>{{ i[2] }}</p>
            <button class="like" id="like-button-0">
            <span class="material-symbols-outlined">thumb_up</span>
        </button>
        <button class="unlike" id="unlike-button-0">
            <span class="material-symbols-outlined">thumb_down</span>
        </button>
        <div class="comments">
            <input type="text" placeholder="Escribe un comentario">
            <button class="comment" >
                <span class="material-symbols-outlined">send</span>
            </button>
        </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
